.py-200 {
    padding: 200px 0;
}

.error-content {
	margin-top: 50px;
}

.error-item .btn {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 25px;
	color: #fff;
	background: #2b4eff;
	border-radius: 4px;
	font-weight: 600;
	text-transform: capitalize;
}

.error-item .btn:hover {
	color: #fff;
	box-shadow: 0 10px 24px 0 rgba(4,23,118,.3);
}
